div#main{
	height: 100vh;
	margin: 20px 10px;
	background: rgba(0, 0, 0, .7);
	/*opacity: 0.7;*/
	border: solid 2px #ccc;
	border-radius: 8px;
}
.m-p {
	font-size: medium;
	padding: 0px 0px 0px 15px;
	color: white;
	font-weight: 200;
}
.m-ul {
	background: rgba(0, 0, 0, .6);
	padding: 20px;
}
.m-ul-li {
	background: rgba(0, 0, 0, .6);
	padding: 5px;
	margin-left: 35px;
	color: white;
	font: 16pt Arial;
}
.m-center {
	margin: 0 auto;
	display: table;
}
.m-blue-button {
	width: 80px;
	height: 44px;
	padding: 0px 9px 0;
	margin: 0em;
	background-color: #3A65F0;
	color: white;
	border-radius: 4px;
	border-width: 2px;
	border-style: outset;
	border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-color: buttonface;
	border-image: initial;
	text-align: center;
	font-size: small;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	font: 13.3333px Arial;
	cursor: pointer;
}
form {
	float: left;
	padding: 2px;
}
.m-search-bar {
	width: 632px;
	height: 44px;
	padding: 0px 9px 0 16px;
	border-radius: 4px;
	overflow: hidden;
	font-size: small;
}
.hidden {
	display: none;
}
.m-custom-file-upload {
	display: inline-block;
}
body {
	background: white url("images/back.jpg") no-repeat 50% 50%;
	background-size: cover;
}
