{% extends 'core/base.html' %}
{% load mathfilters %}
{% load filters %}
{% load staticfiles %}
{% block content %}
    <div id="not_processed_alert" class="container" hidden>
        <div class="alert alert-info">
        Audio processing is still in progress.
        </div>
    </div>
    <div class="container">
        <p class="m-p">File added: {{ a.date_uploaded }}</p>
        <p class="m-p">File name: {{ a.filename|truncatechars:50 }}</p>
        <p class="m-p">Total length: {{ a.duration|duration:"h:i:s" }}</p>
        <p class="m-p">BPM average=<span id="bpm_average"></span></p>
        <div class="container">
            <div id="bpmChart"></div>
            <div id="bpm"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static '/js/audio.js' %}"></script>
{% endblock scripts %}