{% extends 'core/base.html' %}
{% load mathfilters %}
{% load filters %}
{% load staticfiles %}
{% block content %}
    {% if not a.status == a.PROCESSED %}
        <div class="container">
            <div class="alert alert-info">
            Audio processing is still in progress.
            </div>
        </div>
    {% endif %}
    <div class="container">
        <p class="m-p">File added: {{ a.date_uploaded }}</p>
        <p class="m-p">File name: {{ a.get_filename|unquote|truncatechars:50 }}</p>
        <p class="m-p">Total length: {{ a.get_duration|duration:"h:i:s" }}</p>
        <p class="m-p">BPM (average={% if a.avg_bpm == -1 %}unknown{% else %}{{ a.avg_bpm }}{% endif %})</p>
        {% if bpms %}
            <div class="container">
                <div id="bpmChart"></div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-datetime">Start time</div>
                        <div class="col col-datetime">End time</div>
                        <div class="col">Value</div>
                    </div>
                </li>
                {% for bpm in bpms %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col col-datetime">{{ bpm.start|duration:"h:i:s" }}</div>
                        <div class="col col-datetime">{{ bpm.end|duration:"h:i:s" }}</div>
                        <div class="col col-bpm">{{ bpm.value }}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            Empty!
        {% endif %}
    </div>
{% endblock content %}
{% block includes %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock includes %}
{% block scripts %}
    <script>
window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
};

var ypoints = [ {% for bpm in bpms %}{{ bpm.value }}{% if forloop.counter != bpms.count %}, {% else %}, {{ bpm.value }}{% endif %}{% endfor %} ];
var xlabels = [ {% for bpm in bpms %}'{{ bpm.start.total_seconds|duration:"h:i:s" }}'{% if forloop.counter != bpms.count %}, {% else %}, '{{ bpm.end.total_seconds|duration:"h:i:s" }}'{% endif %}{% endfor %} ];
var xpoints = [ {% for bpm in bpms %}{{ bpm.start.total_seconds|floatformat:"0" }}{% if forloop.counter != bpms.count %}, {% else %}, {{ bpm.end.total_seconds|floatformat:"0" }}{% endif %}{% endfor %} ];

var trace1 = {
  x: xpoints,
  y: ypoints,
  mode: 'lines+markers',
  type: 'scatter',
  name: 'BPM',
  line: {shape: 'hv'},
  text: xlabels
};

var data = [ trace1 ];

var layout = {
  xaxis: {
    range: [ 0, {{ a.get_duration.total_seconds|floatformat:"0" }} ]
  },
  yaxis: {
    range: [ 0, 200 ]
  },
  title: 'BPMs of {{ a.artist}} - {{ a.title  }}'
};

Plotly.newPlot('bpmChart', data, layout);
    </script>
{% endblock scripts %}