{% extends 'core/base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid text-white" style="background: rgba(0, 0, 0, 0.5)">
    <video autoplay loop id="video-background" muted>
        <source src="{% static "video/heartbeat.mp4" %}" type="video/mp4">
    </video>
        <div class="row">
            <div id="queue" class="col-4 p-3"></div>
            <div id="processing" class="col-4 p-3"></div>
            <div id="audio" class="col-4 p-3"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static '/js/index.js' %}"></script>
{% endblock scripts %}