{% extends 'core/base.html' %}
{% load mathfilters %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <p class="m-p">Queue:<p>
                {% if queue %}
                <ul class="m-ul">
                {% for q in queue %}
                    <li class="m-ul-li">{{ q.date_uploaded|date:"Y-m-d H:i:s"  }}: {{ q.get_filename }}</li>
                {% endfor %}
                </ul>
                {% else %}
                <p class="m-p">Empty!</p>
                {% endif %}
            </div>
            <div class="col-6">
                <p class="m-p">Processing:<p>
                {% if processing %}
                    <ul class="m-ul">
                    {% for p in processing %}
                        <li class="m-ul-li">{{ p.date_uploaded|date:"Y-m-d H:i:s"  }}: {{ p.get_filename }} [{{ p.tasks_processed }} of {{ p.tasks_scheduled }}]</li>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{ p.tasks_processed|div:p.tasks_scheduled|mul:100 }}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    {% endfor %}
                    </ul>
                {% else %}
                <p class="m-p">Empty!</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
            {% if audio %}
                <p class="m-p">Last added:</p>
                <ul class="m-ul">
                {% for a in audio %}
                    <li class="m-ul-li">{{ a.date_uploaded|date:"Y-m-d H:i:s" }}: {{ a.get_filename }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
            <div class="col-6">
            {% if bpm %}
                <p class="m-p">Last BPM:</p>
                <ul class="m-ul">
                {% for bpm in bpm %}
                    <li class="m-ul-li">{{ bpm.audio.date_uploaded|date:"Y-m-d H:i:s" }}: {{ bpm.audio.get_filename }} [{{ bpm.get_starttime_formatted }} - {{ bpm.get_endtime_formatted }}] - {{ bpm.value }} BPM</li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}