{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input name="audio" type="file" class="custom-file-input" id="inputFile"
                               onchange="$('#uploadForm').submit()"
                               accept=".mp3" multiple>
                        <label class="custom-file-label" for="inputFile">Choose file</label>
                    </div>
                    <button type="submit" hidden>Upload</button>
                </div>
            </form>
        </div>
    </div>
    {% comment %}<form id="uploadForm" method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <label for="file-upload" class="m-custom-file-upload m-blue-button">Select file</label>
        <input name="audio" id="file-upload" class="hidden" type="file"
               onchange="setTimeout(function() {document.getElementById('uploadForm').submit()}, 1000)" accept=".mp3"/>
        <button type="submit" class="hidden">Upload</button>
    </form>{% endcomment %}
{% endblock %}