{% extends 'core/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'core:upload' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input name="audio" type="file" class="custom-file-input" id="inputFile"
                               {% comment %}onchange="$('#submitBtn').click()"{% endcomment %}
                                onchange="$('#submitBtn').click()"
                               accept=".mp3" multiple>
                        <label class="custom-file-label" for="inputFile">Choose file</label>
                    </div>
                </div>
            </form>
            <button id="submitBtn" type="submit" hidden>Upload</button>
        </div>
        <div class="container p-1">
            <ul id="uploadProgress" class="list-group">
            </ul>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static '/js/upload.js' %}"></script>
{% endblock scripts %}