{% extends 'core/base.html' %}

{% block body %}
{% if last_pla %}
    <p class="m-p">Queue:<p>
    <ul class="m-ul">
    {% for a in last_pla %}
        <li class="m-ul-li">{{ a.date_uploaded.year }}/{{ a.date_uploaded.month }}/{{ a.date_uploaded.day }} {{ a.date_uploaded.hour }}:{{ a.date_uploaded.minute }}:{{ a.date_uploaded.second }}: {{ a.get_filename }}, {{ a.get_bpm }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if last_audio %}
    <p class="m-p">Last added:</p>
    <ul class="m-ul">
    {% for a in last_audio %}
        <li class="m-ul-li">{{ a.date_uploaded.year }}/{{ a.date_uploaded.month }}/{{ a.date_uploaded.day }} {{ a.date_uploaded.hour }}:{{ a.date_uploaded.minute }}:{{ a.date_uploaded.second }}: {{ a.file }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock body %}